<template name="modalDelete">
    <div class="ui basic modal" id="modalDelete">
        <div class=" ui icon header">
            <i class="trash icon"></i>
            Usuń rekord
        </div>
        <div class="content">
            Czy na pewno chcesz usunąć wybrany rekord?
        </div>
        <div class="actions">
            <div class="ui negative button">
                Nie
            </div>
            <div class="ui positive button">
                Tak
            </div>
        </div>
    </div>
</template>