<template name="visit">
    <div class="twelve wide column">
        <div class="ui centered grid">
            <div class="row">
                <div class="twelve wide column">
                    <div class="ui horizontal divider">
                        <div class="indexSeminum-text">
                            {{text.visitation.header}}
                        </div>
                    </div>
                    <div class="general-text">
                        {{{text.visitation.content}}}
                    </div>
                </div>
            </div>
        </div>

        <div class="ui centered grid">
            <div class="row">
                <div class="twelve wide column">
                    <div class="ui horizontal divider">
                        <div class="indexSeminum-text">
                            {{text.visitation.header2}}
                        </div>
                    </div>
                    <div class="general-text">
                        <div class="column">
                            <div class="ui grid">
                                <div class="one wide column">
                                    <i class="user icon"></i>
                                    <br>
                                    <i class="phone icon"></i>
                                    <br>
                                    <i class="at icon"></i>
                                </div>
                                <div class="seven wide column">
                                    {{text.visitation.administrator}}: dr Loretta Pobłocka-Olech
                                    <br>
                                    058 349 15 58
                                    <br>
                                    loretta@gumed.edu.pl
                                </div>
                                <div class="one wide column">
                                    <i class="user icon"></i>
                                    <br>
                                    <i class="phone icon"></i>
                                    <br>
                                    <i class="at icon"></i>
                                </div>
                                <div class="seven wide column">
                                    {{text.visitation.worker}}: mgr Jolanta Zarembska
                                    <br>
                                    058 349 15 59
                                    <br>
                                    orl@gumed.edu.pl
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="ui centered grid">
            <div class="row">
                <div class="twelve wide column">
                    <div class="ui horizontal divider">
                        <div class="indexSeminum-text">
                            {{text.visitation.header3}}
                        </div>
                    </div>
                    <img src="images/planORL.png" />
                    <div class="ui divider"></div>
                </div>
            </div>
        </div>
    </div>
</template>